<h1>Appointment Data upload</h1>
<div class="alert alert-primary" role="alert">
  Please Upload your Data CSV file.
</div>
<%= form_tag({action: :index}, multipart: true) do %>
  <%= file_field_tag 'phonedata' %>
  <%= submit_tag "Upload File" %>
<% end %>
