<p id="notice"><%= notice %></p>

<h1>Templates</h1>

<table>
  <thead>
    <tr>
      <th>Body</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.body %></td>
        <td><%= link_to 'Edit', edit_template_path(template) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
